body{
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root, .box404{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.radio-button-group{
  justify-content: space-around;
  margin: 10px 0px;
}
.radio-button-group label{
  margin: 0;
}
.selectedLanguage span:first-child,
.unselectedLanguage span:first-child{
  display: none;
}
.selectedLanguage span:last-child{
  filter: grayscale(0);
}
.unselectedLanguage span:last-child{
  filter: grayscale(1);
}
.selectedSort{
  filter: grayscale(0);
  cursor: pointer;
  margin: 0px 2px;
}
.unselectedSort{
  filter: grayscale(1);
  cursor: pointer;
  margin: 0px 2px;
}
.box404 .MuiButton-outlined{
  width: 200px;
}
.MuiButton-contained{
  margin-top: 15px!important;
}